
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý danh mục</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="cssofAdmin/styles.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 sidebar p-3">
            <div class="text-center">
                <img src="images/admin.png" class="rounded-circle" width="80" height="80" alt="Admin">
                <h6>Admin</h6>
            </div>

            <a href="/admin/user"><i class="fas fa-users me-2"></i> Manager Customer</a>
            <a href="admin/employee"><i class="fas fa-box"></i> Manager Employee</a>
            <a href="#"><i class="fas fa-home"></i>HomePage</a>
        </nav>

        <main class="col-md-10 p-4">
            <h2>Trang Admin</h2>
            <div>
                <img src="images/cinema.jpg" width="1216px" height="634px">
            </div>
        </main>
    </div>
</div>
</body>
</html>

