<div th:frament="footer">
    <div class="prs_footer_main_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_1">
                        <h2>LANGUAGE MOVIES</h2>
                        <ul>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Phim Việt Nam</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Phim Thái Lan</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Punjabi Movie</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Phim Ấn Độ</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Phim Malyalam</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">Phim Hành Động Tiếng Anh</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_2">
                        <h2>MOVIES by presenter</h2>
                        <ul>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Tất cả')}">Tất cả</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Hành động')}">Hành động</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Khoa học viễn tưởng')}">Khoa học viễn tưởng</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Tình cảm')}">Tình cảm</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Phiêu lưu')}">Phiêu lưu</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Hài')}">Hài</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Hoạt hình')}">Hoạt hình</a></li>
                            <li><i class="fa fa-circle"></i> <a th:href="@{/movie/movie-category(categoryName='Phim tài liệu')}">Phim tài liệu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_3">
                        <h2>BOOKING ONLINE</h2>
                        <ul>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">http://localhost:8080/about</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.hello.com</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.example.com</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.hello.com</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.example.com</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.hello.com</a>
                            </li>
                            <li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a th:href="@{none}">www.example.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_4">
                    <h2>Chăm sóc khách hàng</h2>
                    <p><strong>Hotline:</strong> 0355075204</p>
                    <p><strong>Giờ làm việc:</strong> 8:00 - 22:00 (Tất cả các ngày, bao gồm cả Lễ Tết)</p>
                    <p><strong>Email hỗ trợ:</strong> <a href="mailto:hoidap@fpt.vn">hoidap@fpt.vn</a></p>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>