<!-- modals.html -->
<div th:fragment="modals_login_register_forgetPass">
    <!-- Login Modal -->
    <div class="modal fade st_pop_form_wrapper" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form th:action="@{/login}" id="login-form" th:object="${userLoginDTO}" method="post">
                    <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"/>
                    <div class="st_pop_form_heading_wrapper float_left">
                        <h3>Đăng nhập</h3>
                    </div>
                    <div class="st_profile_input float_left">
                        <label for="emailLogin">Email</label>
                        <input type="email" id="emailLogin" placeholder="Email" th:field="*{emailLogin}">
                        <div th:if="${#fields.hasErrors('emailLogin')}" style="color: red;">
                            <span th:errors="*{emailLogin}"></span>
                        </div>
                    </div>
                    <div class="st_profile_input float_left">
                        <label for="passwordLogin">Mật khẩu</label>
                        <input type="password" id="passwordLogin" placeholder="Mật khẩu" th:field="*{passwordLogin}">
                        <div th:if="${#fields.hasErrors('passwordLogin')}" style="color: red;">
                            <span th:errors="*{passwordLogin}"></span>
                        </div>
                    </div>
                    <div class="st_form_pop_fp float_left">
                        <h3><a th:href="@{none}" data-toggle="modal" data-target="#myModa2" target="_blank">Quên mật khẩu?</a></h3>
                    </div>

                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="g-recaptcha" data-sitekey="6LeY3nUrAAAAAOUYLbZTQHBqdysJVpRGajtZ3l2N"></div>
                        <div style="color: red; padding-top: 100px" id="errorCaptcha"></div>
                    </div>

                    <div class="st_form_pop_login_btn float_left" style="margin-bottom: 5px; padding-top: 100px">
                        <button type="button" class="btn btn-primary" onclick="checkCaptcha()">Đăng nhập</button>
                        <p th:if="${errorLogin != null}" th:text="${errorLogin}"
                           style="font-weight: bold; color: red"></p>
                    </div>
                    <div class="st_form_pop_login_btn float_left">
                        <p th:text="${successMessageRegister}" style="font-weight: bold; color: green"></p>
                    </div>
                    <div class="st_form_pop_or_btn float_left"><h4>hoặc</h4></div>
                    <div class="st_form_pop_facebook_btn float_left">
                        <a th:href="@{https://www.facebook.com/v13.0/dialog/oauth?client_id=1856286568279277&redirect_uri=http://localhost:8080/login-by-facebook&scope=email}">
                            Đăng nhập với Facebook
                        </a>
                    </div>
                    <div class="st_form_pop_gmail_btn float_left"><a
                            th:href="@{https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-by-gg&response_type=code&client_id=826051367830-tbih05md3ra9dk5pf0q5f2t67o8k8vsh.apps.googleusercontent.com}">
                        Đăng nhập với Google
                    </a>
                    </div>
                    <div class="st_form_pop_signin_btn float_left">
                        <h4>Bạn không có tài khoản? <a data-toggle="modal" data-target="#signUpModal" href="#">Đăng
                            ký</a></h4>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade st_pop_form_wrapper" id="forgotPasswordModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
                    <h3>Forgot Password</h3>
                    <p>We can help! Just enter your email and follow the instructions.</p>
                </div>
                <div class="st_profile_input float_left">
                    <label>Email Address</label>
                    <input type="text">
                </div>
                <div class="st_form_pop_fpass_btn float_left"><a th:href="@{none}">Verify</a></div>
            </div>
        </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade st_pop_form_wrapper" id="signUpModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form th:action="@{/register}" th:object="${userRegisterDTO}" method="post" id="signUpForm">
                    <div class="st_pop_form_heading_wrapper text-center">
                        <h3>Đăng ký</h3>
                    </div>
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="fullName">Họ và tên</label>
                        <input type="text" id="fullName" placeholder="Họ và tên" th:field="*{fullName}"
                               class="form-control" required>
                        <div th:if="${#fields.hasErrors('fullName')}" style="color: red;">
                            <span th:errors="*{fullName}"></span>
                        </div>
                    </div>
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="userName">Tên người dùng</label>
                        <input type="text" id="userName" placeholder="Tên người dùng" th:field="*{userName}"
                               class="form-control" required>
                        <div th:if="${#fields.hasErrors('userName')}" style="color: red;">
                            <span th:errors="*{userName}"></span>
                        </div>
                    </div>
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email" th:field="*{email}" class="form-control">
                        <div th:if="${#fields.hasErrors('email')}" style="color: red;">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" id="phone" placeholder="Số điện thoại" th:field="*{phone}" class="form-control"
                               required>
                        <div th:if="${#fields.hasErrors('phone')}" style="color: red;">
                            <span th:errors="*{phone}"></span>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="passwordRegister">Mật khẩu</label>
                        <input type="password" id="passwordRegister" placeholder="Mật khẩu" th:field="*{password}"
                               class="form-control">
                        <div th:if="${#fields.hasErrors('password')}" style="color: red;">
                            <span th:errors="*{password}"></span>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="st_profile_input" style="padding-bottom: 2px">
                        <label for="confirmPassword">Nhập lại mât khẩu</label>
                        <input type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu" class="form-control">
                    </div>

                    <!-- Checkbox for Terms & Conditions -->
                    <div class="st_form_pop_signin_btn text-center">
                        <label>
                            <input type="checkbox" id="agreeTerms" required>
                            Tôi đồng ý với <a href="#" th:href="@{none}">chính sách </a> & <a href="#"
                                                                                                     th:href="@{none}"> và điều kiện</a>
                        </label>
                    </div>

                    <div th:if="${errorMessageRegister != null}" class="alert alert-danger text-center"
                         style="margin-top: 10px;">
                        <p th:text="${errorMessageRegister}"></p>
                    </div>

                    <div class="st_form_pop_login_btn text-center">
                        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

