<div th:fragment="navigation">
    <div class="prs_navigation_main_wrapper">
        <div class="container-fluid">
            <div class="prs_navi_left_main_wrapper">
                <div class="prs_logo_main_wrapper">
                    <a th:href="@{/}">
                        <img th:src="@{/images/header/logo.png}" alt="logo"/>
                    </a>
                </div>
                <div class="prs_menu_main_wrapper">
                    <nav class="navbar navbar-default">
                        <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                            <div class="prs_mobail_searchbar_wrapper" id="search_button"><i class="fa fa-search"></i>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="dl-menu">
                                <li class="parent"><a th:href="@{/}">Home</a></li>
                                <li class="parent"><a th:href="@{/}" onclick="return false">Movie</a>
                                    <ul class="lg-submenu">
                                        <li><a th:href="@{/movie/showing(status='now-showing')}">Now-showing</a></li>
                                        <li><a th:href="@{/movie/showing(status='coming-soon')}">Coming-soon</a></li>
                                    </ul>
                                </li>
                                <li class="parent"><a th:href="@{/}" onclick="return false;">theater</a>
                                    <ul class="lg-submenu">
                                        <li><a th:href="@{none}">none</a></li>
                                        <li><a th:href="@{none}">none</a></li>
                                    </ul>
                                </li>
                                <li class="parent"><a th:href="@{/}" onclick="return false;">category</a>
                                    <ul class="lg-submenu">
                                        <li th:each="category: ${session.categoryAll}">
                                            <a th:href="@{/movie/category/return-view(categoryName=${category})}" th:text="${category}">movie category name</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="parent"><a th:href="@{/event}">event</a></li>
                                <li class="parent"><a th:href="@{/contact}">contact</a></li>
                            </ul>
                        </div>
                        <!--dl-menuwrapper -->
                    </nav>
                </div>
            </div>
            <div class="prs_navi_right_main_wrapper">
                <div class="prs_top_login_btn_wrapper">
                    <div class="prs_animate_btn1">
                        <ul>
                            <li>
                                <div th:if="${session.userLogin == null}">
                                    <a class="button button--tamaya" data-text="sign up" data-toggle="modal"
                                       data-target="#myModal"><span>sign up</span></a>
                                </div>
                                <div th:if="${session.userLogin != null}">
                                    <a style="background: #1b1b1b" class="btn" th:href="@{none}">
                                        <span style="color: white" th:text="${session.userLogin.fullname}">User</span>
                                    </a>
                                    <a style="background: #1b1b1b;" class="btn" th:href="@{/log-out}">
                                        <span style="color: white">Log out</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-heading">
                    <div class="con">
                        <form th:action="@{/movie/search}" method="get" class="search-form"
                              style="display: inline-block">
                            <input type="text" name="movieNameSearch" placeholder="Search movie name....."
                                   class="search-input"/>
                            <button type="submit" class="search-btn">
                                <i class="flaticon-tool"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>